# NHS England Patient Service Usage Dataset

In [6]:
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import UKLLCDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("nhse_patient_service_usage")
last_modified()

>Last modified: 14 Nov 2025

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC has created a summary dataset of patient service usage using NHS England data.</strong></div>

## 1. Summary

The **NHS England patient service usage** dataset, formerly known as the **presence** dataset contains the number of appearances and the date of the most recent appearance in each NHS England dataset for each participant (if available - some NHS datasets do not include record dates). There is one exception - if a project has not been granted access to mental health datasets, data about a participant's presence in a mental health dataset will not be provided. Each project in the TRE is automatically provisioned a file named 'nhse_patient_service_usage_v0000_YYMMDD' (formerly known as 'CORE_NHSD_Presence_v0000_YYYYMMDD'). 

The dataset includes all **NHS England** linked participants who have permissions from the LPS selected and approved as part of your project. 

The dataset **enables researchers to**:
* identify a project's control group or denominator by comparing LPS participants' overall usage of **NHS England** services against the usage apparent in the data provisioned to a project. For NHS England datasets that have to be [**minimised by codelists**](../../../../linked_health_data/NHS_England/Coding/codelists.md), this comparison will establish which participants appear in the dataset but are not included in the provisioned data 
* elucidate the extent to which the codelist definitions provided cover the overall participant usage of a service.

In [7]:
ds.info_table()

## 2. Variables

In [8]:
ds.variable_table()

## 3. Version History

In [9]:
ds.version_history()

## 4. Useful Syntax

In [10]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.