# Access to Healthy Assets and Hazards (AHAH)

In [1]:
from IPython.display import display, Markdown
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import PlaceDataSet as DS, last_modified
last_modified()

>Last modified: 12 Sep 2025

In [2]:
display(Markdown('<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>The Access to Healthy Assets and Hazards dataset is a multi-dimensional index which describes accessibility to certain environmental features relating to health and wellbeing.</strong></div>'))

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>The Access to Healthy Assets and Hazards dataset is a multi-dimensional index which describes accessibility to certain environmental features relating to health and wellbeing.</strong></div>

In [3]:
display(Markdown('<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_AHAH.html" target="_blank">here.</a></strong></div>'))

<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_AHAH.html" target="_blank">here.</a></strong></div>

AHAH (the index of ‘Access to Health Assets and Hazards’) is a multi-dimensional index developed by the [Geographic Data Service](https://data.geods.ac.uk/dataset/access-to-healthy-assets-hazards-ahah) for Great Britain measuring how ‘healthy’ neighbourhoods are. The AHAH index combines indicators under four different domains of accessibility: Retail environment (access to fast food outlets, pubs, tobacconists, gambling outlets), Health services (access to GPs, hospitals, pharmacies, dentists, leisure services), Physical environment (Blue Space, Green Space - Passive), and Air quality (NO₂, PM10, SO₂). Measurement data and deciles for the overall index, 4 domains and 14 inputs are produced for Lower Level Super Output Areas (LSOAs) for England and Wales, and Data Zones (DZ) for Scotland. Distances shown for some of the measurement data are means of the time (in minutes) for driving by car along the established road network, between the population weighted centroid of each postcode contained within each statistical geographical unit, and the actual location of the outlet/service. 

## 1. Summary

In [4]:
display(Markdown('### ahah_geo_indicators_england_wales'))

### ahah_geo_indicators_england_wales

In [5]:
DS("ahah_geo_indicators_england_wales").info_table()

In [6]:
display(Markdown('### ahah_geo_indicators_scotland'))

### ahah_geo_indicators_scotland

In [7]:
DS("ahah_geo_indicators_scotland").info_table()

## 2. Variables

In [8]:
display(Markdown('### ahah_geo_indicators_england_wales'))

### ahah_geo_indicators_england_wales

In [9]:
DS("ahah_geo_indicators_england_wales").variable_table()

In [10]:
display(Markdown('### ahah_geo_indicators_scotland'))

### ahah_geo_indicators_scotland

In [11]:
DS("ahah_geo_indicators_scotland").variable_table()

## 3. Metrics

In [12]:
display(Markdown('TBC'))

TBC

## 4. Version History

In [13]:
display(Markdown('TBC'))

TBC

## 5. Documentation

In [14]:
DS("townsend_england_wales").documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 6. Useful Syntax

In [15]:
DS("townsend_england_wales").useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to the [UK LLC GitHub](https://github.com/UKLLC) repository where you can find the full scripts.