# Community Services Data Set (CSDS)

In [3]:
# define target dataset to document
schema = 'nhsd'
table = 'CSDS'
table1 = 'CSDS_care_activities'
table2 = 'CSDS_care_plans'
table3 = 'CSDS_coded_scored_assessments'
table4 = 'CSDS_demographics_and_referral'
table5 = 'CSDS_diagnoses'
table6 = 'CSDS_group_sessions'
table7 = 'CSDS_immunisations'
table8 = 'CSDS_onward_referrals'
table9 = 'CSDS_rtt'
version = 'v0003'
# import functions from script helper
import sys
script_fp = "../../../../scripts/"
sys.path.insert(0, script_fp)
from data_doc_helper import DocHelper
# create instance
document = DocHelper(schema, table, version, script_fp)
document1 = DocHelper(schema, table1, version, script_fp)
document2 = DocHelper(schema, table2, version, script_fp)
document3 = DocHelper(schema, table3, version, script_fp)
document4 = DocHelper(schema, table4, version, script_fp)
document5 = DocHelper(schema, table5, version, script_fp)
document6 = DocHelper(schema, table6, version, script_fp)
document7 = DocHelper(schema, table7, version, script_fp)
document8 = DocHelper(schema, table8, version, script_fp)
document9 = DocHelper(schema, table9, version, script_fp)
# markdown/code hybrid cell module requirement
from IPython.display import display, Markdown

## 1. Summary
The CSDS dataset in the UK LLC TRE comprises nine separate datasets.

In [4]:
display(document.style_table(document.get_dataset_info()))

## 2. Metrics
The tables below summarise the nine datasets that make up the CSDS dataset in the UK LLC TRE.

**2.1 CSDS Care Activities**

**Table 1** The number of participants from each LPS that are represented in the CSDS_Care_Activities dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [5]:
display(document1.style_table(document1.get_cohort_count()))

**2.2 CSDS Care Plans**

**Table 2** The number of participants from each LPS that are represented in the CSDS_Care_Plans dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [6]:
display(document2.style_table(document2.get_cohort_count()))

**2.3 CSDS Coded Scored Assessments**

**Table 3** The number of participants from each LPS that are represented in the CSDS_Coded_Score_Assessments dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [7]:
display(document3.style_table(document3.get_cohort_count()))

**2.4 CSDS Demographics and Referral**

**Table 4** The number of participants from each LPS that are represented in the CSDS_demographics_and_referral dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [8]:
display(document4.style_table(document4.get_cohort_count()))

**2.5 CSDS diagnoses**

**Table 5** The number of participants from each LPS that are represented in the CSDS_diagnoses dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [9]:
display(document5.style_table(document5.get_cohort_count()))

**2.6 CSDS Group Sessions**

**Table 6** The number of participants from each LPS that are represented in the CSDS_group_sessions dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [10]:
display(document6.style_table(document6.get_cohort_count()))

**2.7 CSDS Immunisations**

**Table 7** The number of participants from each LPS that are represented in the CSDS_immunisations dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [11]:
display(document7.style_table(document7.get_cohort_count()))

**2.8 CSDS Onward Referrals**

**Table 8** The number of participants from each LPS that are represented in the CSDS_onward_referrals dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [12]:
display(document8.style_table(document8.get_cohort_count()))

**2.9 CSDS Referral to Treatment**

**Table 9** The number of participants from each LPS that are represented in the CSDS_onward_referrals dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [13]:
display(document9.style_table(document9.get_cohort_count()))

## 3. Helpful syntax
Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full script.