# HES Critical Care (HESCC) Dataset

In [1]:
# define target dataset to document
schema = 'nhsd'
table = 'HESCC'
version = 'v0003'
# import functions from script helper
import sys
script_fp = "../../../../scripts/"
sys.path.insert(0, script_fp)
from data_doc_helper import DocHelper
# create instance
document = DocHelper(schema, table, version, script_fp)
# markdown/code hybrid cell module requirement
from IPython.display import display, Markdown

## 1. Summary

In [2]:
display(document.style_table(document.get_dataset_info()))

## 2. Metrics
The tables below summarise the HESCC dataset in the UK LLC TRE.

**Table 1** The number of participants from each LPS that are represented in the HESCC dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [3]:
display(document.style_table(document.get_cohort_count()))

## 3. Helpful syntax
Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full script.