# Talking Therapies for Anxiety and Depression dataset

In [4]:
# define target dataset to document
schema = 'nhsd'
table = 'IAPT'
table1 = 'IAPT_care_activities'
table2 = 'IAPT_care_cluster'
table3 = 'IAPT_coded_scored_assessments'
table4 = 'IAPT_demographics_and_referral'
table5 = 'IAPT_employment_status'
table6 = 'IAPT_internet_enabled_therapies'
table7 = 'IAPT_mental_and_physical_health_conditions'
table8 = 'IAPT_onward_referrals'
table9 = 'IAPT_waiting_time_pauses'
version = 'v0003'
# import functions from script helper
import sys
script_fp = "../../../../scripts/"
sys.path.insert(0, script_fp)
from data_doc_helper import DocHelper
# create instance
document = DocHelper(schema, table, version, script_fp)
document1 = DocHelper(schema, table1, version, script_fp)
document2 = DocHelper(schema, table2, version, script_fp)
document3 = DocHelper(schema, table3, version, script_fp)
document4 = DocHelper(schema, table4, version, script_fp)
document5 = DocHelper(schema, table5, version, script_fp)
document6 = DocHelper(schema, table6, version, script_fp)
document7 = DocHelper(schema, table7, version, script_fp)
document8 = DocHelper(schema, table8, version, script_fp)
document9 = DocHelper(schema, table9, version, script_fp)
# markdown/code hybrid cell module requirement
from IPython.display import display, Markdown

## 1. Summary
This dataset was previously known as the **Improving Access to Psychological Therapies (IAPT) Data Set**. In the UK LLC TRE this dataset comprises nine separate datasets.

In [5]:
display(document.style_table(document.get_dataset_info()))

## 2. Metrics
The tables below summarise the nine datasets that make up the IAPT dataset in the UK LLC TRE.

**2.1 IAPT Care Activities**

**Table 1** The number of participants from each LPS that are represented in the IAPT_Care_Activities dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [7]:
display(document1.style_table(document1.get_cohort_count()))

**2.2 IAPT Care Cluster**

**Table 2** The number of participants from each LPS that are represented in the IAPT_Care_Cluster dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [8]:
display(document2.style_table(document2.get_cohort_count()))

**2.3 IAPT Coded Scored Assessments**

**Table 3** The number of participants from each LPS that are represented in the IAPT_Coded_Score_Assessments dataset in the UK LLC TRE  
**Note**: numbers relate to the most recent extract of NHS England data)

In [9]:
display(document3.style_table(document3.get_cohort_count()))

**2.4 IAPT Demographics and Referral**

**Table 4** The number of participants from each LPS that are represented in the IAPT_demographics_and_referral dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [10]:
display(document4.style_table(document4.get_cohort_count()))

**2.5 IAPT Employment Status**

**Table 5** The number of participants from each LPS that are represented in the IAPT_employment_status dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [11]:
display(document5.style_table(document5.get_cohort_count()))

**2.6 IAPT Internet Enabled Therapies**

**Table 6** The number of participants from each LPS that are represented in the IAPT_internet_enabled_therapies dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [12]:
display(document6.style_table(document6.get_cohort_count()))

**2.7 IAPT Mental and Physical Health Conditions**

**Table 7** The number of participants from each LPS that are represented in the IAPT_mental_and_physical_health_conditions dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [13]:
display(document7.style_table(document7.get_cohort_count()))

**2.8 IAPT Onward Referrals**

**Table 8** The number of participants from each LPS that are represented in the IAPT_onward_referrals datasets in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [14]:
display(document8.style_table(document8.get_cohort_count()))

**2.9 IAPT Waiting Time Pauses**

**Table 9** The number of participants from each LPS that are represented in the IAPT_waiting_time_pauses dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data)

In [15]:
display(document9.style_table(document9.get_cohort_count()))

## 3. Helpful syntax
Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full script.