# Townsend Deprivation Index (2011)

In [18]:
from IPython.display import display, Markdown
import sys
import os
sys.path.append(os.path.abspath('../../../scripts/'))
from data_doc_helper import PlaceDataSet as DS, last_modified
last_modified()

>Last modified: 14 Nov 2025

In [ ]:
display(Markdown('<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides a 2011 version of the Townsend Deprivation Index for England and Wales at the Census Lower Super Output Area level (or equivalent).</strong></div>'))

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides a 2011 version of the Townsend Deprivation Index for England and Wales at the Census Output Area level.</strong></div>

In [20]:
display(Markdown('<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_townsend_2011.html" target="_blank">here.</a></strong></div>'))

<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_townsend_2011.html" target="_blank">here.</a></strong></div>

## Townsend Index 

The Townsend index [(1989)](https://doi.org/10.4324/9781003368885) is a relative indicator of material deprivation, which has been widely used to identify socio‚Äêeconomic confounding in crime, education, and health research in England. This dataset is a **2011** version of the Townsend Index, created at the [UK Data Service](http://dx.doi.org/10.5257/census/aggregate-2011-2). 

## 1. Summary

In [21]:
display(Markdown('### townsend_2011_england_wales'))

### townsend_2011_england_wales

In [22]:
DS("townsend_2011_england_wales").info_table()

In [23]:
display(Markdown('### townsend_2011_scotland'))

### townsend_2011_scotland

In [24]:
DS("townsend_2011_scotland").info_table()

In [25]:
display(Markdown('### townsend_2011_northern_ireland'))

### townsend_2011_northern_ireland

In [26]:
DS("townsend_2011_northern_ireland").info_table()

## 2. Variables

In [27]:
display(Markdown('### townsend_2011_england_wales'))

### townsend_2011_england_wales

In [28]:
DS("townsend_2011_england_wales").variable_table()

In [29]:
display(Markdown('### townsend_2011_scotland'))

### townsend_2011_scotland

In [30]:
DS("townsend_2011_scotland").variable_table()

In [31]:
display(Markdown('### townsend_2011_northern_ireland'))

### townsend_2011_northern_ireland

In [32]:
DS("townsend_2011_northern_ireland").variable_table()

## 3. Metrics

In [33]:
display(Markdown('TBC'))

TBC

## 4. Version History

In [34]:
display(Markdown('TBC'))

TBC

## 5. Documentation

In [36]:
DS("townsend_2011_england_wales").documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 6. Useful Syntax

In [37]:
DS("townsend_2011_england_wales").useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to the [UK LLC GitHub](https://github.com/UKLLC) repository where you can find the full scripts.