# NS Parental Attitudes Sweep 4 (NEXTSTEP)

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("NEXTSTEP", "ns4_parental_attitudes")
last_modified()

>Last modified: 28 Jul 2025

## 1. Summary

In [2]:
ds.summary()

Data was collected via face to face interviewing between June and October 2007. Questions cover: Attitudes to the young personâ€™s school and involvement in education, Extra-curricular classes, Special educational needs, Parental expectations and aspirations,Year 11 experiences, Post-16 plans

In [3]:
ds.info_table()

## 2. Version History

In [4]:
ds.version_history()

## 3. Documentation

In [5]:
ds.documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 4. Useful Syntax

In [6]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.