# NS Household Grid Sweep 4 (NEXTSTEP)

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("NEXTSTEP", "ns4_household_grid")
last_modified()

>Last modified: 18 Jul 2025

## 1. Summary

In [2]:
ds.summary()

Data was collected via face to face interviewing between June and October 2007. A summary of the content includes: Household member identifier, Whether boost case, Interview date, Whether person is still living with cohort member, Reason person no longer lives with cohort member, Date started living with cohort member, Sex of person, Relationship to cohort member, Marital status of person, Whether person living with someone in the household as a couple, Employment status of person, Ethnic group of person, Position of Main parent, Position of Second parent

In [3]:
ds.info_table()

## 2. Version History

In [4]:
ds.version_history()

## 3. Documentation

In [5]:
ds.documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 4. Useful Syntax

In [6]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.