# NHS England Patient Demo Mortality Dataset

In [1]:
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import UKLLCDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("nhse_patient_demo_mortality")
last_modified()

>Last modified: 27 Oct 2025

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC has created a demographic and mortality dataset dervived from NHS England data.</strong></div>

## 1. Summary

The **NHS England patient demo mortality** dataset, formerly known as the **indicator** dataset contains the most recent and reliable record for certain key demographic variables sourced from NHS England datasets for each participant. Each project in the TRE is automatically provisioned a file named 'UKLLC_nhse_patient_demo_mortality_v0000_YYYYMMDD' (formerly known as 'CORE_derived_indicator_v0000_YYYYMMDD'). 

The dataset includes all **NHS England** linked participants who have permissions from the LPS selected and approved as part of your project. Sex, ethnicity (ethnic: NHS England ethncity coding system - see values table for coding lookup) and date of birth (dob_year_month: year and month of birth) are obtained from the following five datasets in the order presented (i.e. if the information isn't available in the Demographics dataset, the GDPPR dataset is then searched etc.):
1. Demographics.
2. General Practice Extraction Service (GPES) Data for Pandemic Planning and Research (GDPPR).
3. HES Admitted Patient Care (HESAPC).
4. HES Outpatients (HESOP).
5. HES Accident & Emergency (HESAE).
 
The following variables are then added:
* Deceased: from the Mortality dataset
* Date of death: from the Mortality dataset
* last_seen_date: last date recorded in any NHS England dataset (patient_service_usage).

The dataset **enables researchers to**:
* ascertain whether a participant is alive or dead and, if applicable, see their recorded date of death 
* quickly retrieve basic demographic information such as sex, ethnicity and age (via date of birth)
* see the date when a participant last used an NHS England service
* easily filter/group demographic data to be integrated into analytical pipelines.

In [2]:
ds.info_table()

## 2. Variables

In [3]:
ds.variable_table()

## 3. Version History

In [4]:
ds.version_history()

## 4. Useful Syntax

In [5]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.