# Greenspace

In [1]:
from IPython.display import display, Markdown
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import PlaceDataSet as DS, last_modified
last_modified()

>Last modified: 14 Aug 2025

In [2]:
display(Markdown('<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>The University of Leicester’s greenspace dataset covers vegetation, coverage, density, walkability and size.</strong></div>'))

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>The University of Leicester’s greenspace dataset covers vegetation, coverage, density, walkability and size.</strong></div>

In [3]:
display(Markdown('<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_greenspace.html" target="_blank">here.</a></strong></div>'))

<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_greenspace.html" target="_blank">here.</a></strong></div>

## Greenspace Metrics

The greenspace metrics have been developed for residential addresses by University of Leicester/City St George’s, University of London. The greenspace datasets contain variables relating to: total amount of green vegetation, percentage of greenspace, largest greenspace area, number of greenspaces, tree cover density and walkability to greenspace. The data covers the year 2018 for all residential address points where a UK LLC participant has permissions in place.

## 1. Summary

In [4]:
display(Markdown('### greenspace_circle_points_10000m_gb_hh'))

### greenspace_circle_points_10000m_gb_hh

In [5]:
DS("greenspace_circle_points_10000m_gb_hh").info_table()

In [6]:
display(Markdown('### greenspace_circle_points_10000m_gb_pc'))

### greenspace_circle_points_10000m_gb_pc

In [7]:
DS("greenspace_circle_points_10000m_gb_pc").info_table()

In [8]:
display(Markdown('### greenspace_circle_points_1000m_gb_hh'))

### greenspace_circle_points_1000m_gb_hh

In [9]:
DS("greenspace_circle_points_1000m_gb_hh").info_table()

In [10]:
display(Markdown('### greenspace_circle_points_1000m_gb_pc'))

### greenspace_circle_points_1000m_gb_pc

In [11]:
DS("greenspace_circle_points_1000m_gb_pc").info_table()

In [12]:
display(Markdown('### greenspace_circle_points_2000m_gb_hh'))

### greenspace_circle_points_2000m_gb_hh

In [13]:
DS("greenspace_circle_points_2000m_gb_hh").info_table()

In [14]:
display(Markdown('### greenspace_circle_points_2000m_gb_pc'))

### greenspace_circle_points_2000m_gb_pc

In [15]:
DS("greenspace_circle_points_2000m_gb_pc").info_table()

In [16]:
display(Markdown('### greenspace_circle_points_300m_gb_hh'))

### greenspace_circle_points_300m_gb_hh

In [17]:
DS("greenspace_circle_points_300m_gb_hh").info_table()

In [18]:
display(Markdown('### greenspace_circle_points_300m_gb_pc'))

### greenspace_circle_points_300m_gb_pc

In [19]:
DS("greenspace_circle_points_300m_gb_pc").info_table()

In [20]:
display(Markdown('### greenspace_circle_points_5000m_gb_hh'))

### greenspace_circle_points_5000m_gb_hh

In [21]:
DS("greenspace_circle_points_5000m_gb_hh").info_table()

In [22]:
display(Markdown('### greenspace_circle_points_5000m_gb_pc'))

### greenspace_circle_points_5000m_gb_pc

In [23]:
DS("greenspace_circle_points_5000m_gb_pc").info_table()

In [24]:
display(Markdown('### greenspace_circle_points_500m_gb_hh'))

### greenspace_circle_points_500m_gb_hh

In [25]:
DS("greenspace_circle_points_500m_gb_hh").info_table()

In [26]:
display(Markdown('### greenspace_circle_points_500m_gb_pc'))

### greenspace_circle_points_500m_gb_pc

In [27]:
DS("greenspace_circle_points_500m_gb_pc").info_table()

In [28]:
display(Markdown('### greenspace_polygon_points_1000m_gb_hh'))

### greenspace_polygon_points_1000m_gb_hh

In [29]:
DS("greenspace_polygon_points_1000m_gb_hh").info_table()

In [30]:
display(Markdown('### greenspace_polygon_points_1000m_gb_pc'))

### greenspace_polygon_points_1000m_gb_pc

In [31]:
DS("greenspace_polygon_points_1000m_gb_pc").info_table()

In [32]:
display(Markdown('### greenspace_polygon_points_2000m_gb_hh'))

### greenspace_polygon_points_2000m_gb_hh

In [33]:
DS("greenspace_polygon_points_2000m_gb_hh").info_table()

In [34]:
display(Markdown('### greenspace_polygon_points_2000m_gb_pc'))

### greenspace_polygon_points_2000m_gb_pc

In [35]:
DS("greenspace_polygon_points_2000m_gb_pc").info_table()

In [36]:
display(Markdown('### greenspace_polygon_points_300m_gb_hh'))

### greenspace_polygon_points_300m_gb_hh

In [37]:
DS("greenspace_polygon_points_300m_gb_hh").info_table()

In [38]:
display(Markdown('### greenspace_polygon_points_300m_gb_pc'))

### greenspace_polygon_points_300m_gb_pc

In [39]:
DS("greenspace_polygon_points_300m_gb_pc").info_table()

In [40]:
display(Markdown('### greenspace_polygon_points_500m_gb_hh'))

### greenspace_polygon_points_500m_gb_hh

In [41]:
DS("greenspace_polygon_points_500m_gb_hh").info_table()

In [42]:
display(Markdown('### greenspace_polygon_points_500m_gb_pc'))

### greenspace_polygon_points_500m_gb_pc

In [43]:
DS("greenspace_polygon_points_500m_gb_pc").info_table()

## 2. Variables

In [44]:
display(Markdown('### greenspace_circle_points_10000m_gb_hh'))

### greenspace_circle_points_10000m_gb_hh

In [45]:
DS("greenspace_circle_points_10000m_gb_hh").variable_table()

In [46]:
display(Markdown('### greenspace_circle_points_10000m_gb_pc'))

### greenspace_circle_points_10000m_gb_pc

In [47]:
DS("greenspace_circle_points_10000m_gb_pc").variable_table()

In [48]:
display(Markdown('### greenspace_circle_points_1000m_gb_hh'))

### greenspace_circle_points_1000m_gb_hh

In [49]:
DS("greenspace_circle_points_1000m_gb_hh").variable_table()

In [50]:
display(Markdown('### greenspace_circle_points_1000m_gb_pc'))

### greenspace_circle_points_1000m_gb_pc

In [51]:
DS("greenspace_circle_points_1000m_gb_pc").variable_table()

In [52]:
display(Markdown('### greenspace_circle_points_2000m_gb_hh'))

### greenspace_circle_points_2000m_gb_hh

In [53]:
DS("greenspace_circle_points_2000m_gb_hh").variable_table()

In [54]:
display(Markdown('### greenspace_circle_points_2000m_gb_pc'))

### greenspace_circle_points_2000m_gb_pc

In [55]:
DS("greenspace_circle_points_2000m_gb_pc").variable_table()

In [56]:
display(Markdown('### greenspace_circle_points_300m_gb_hh'))

### greenspace_circle_points_300m_gb_hh

In [57]:
DS("greenspace_circle_points_300m_gb_hh").variable_table()

In [58]:
display(Markdown('### greenspace_circle_points_300m_gb_pc'))

### greenspace_circle_points_300m_gb_pc

In [59]:
DS("greenspace_circle_points_300m_gb_pc").variable_table()

In [60]:
display(Markdown('### greenspace_circle_points_5000m_gb_hh'))

### greenspace_circle_points_5000m_gb_hh

In [61]:
DS("greenspace_circle_points_5000m_gb_hh").variable_table()

In [62]:
display(Markdown('### greenspace_circle_points_5000m_gb_pc'))

### greenspace_circle_points_5000m_gb_pc

In [63]:
DS("greenspace_circle_points_5000m_gb_pc").variable_table()

In [64]:
display(Markdown('### greenspace_circle_points_500m_gb_hh'))

### greenspace_circle_points_500m_gb_hh

In [65]:
DS("greenspace_circle_points_500m_gb_hh").variable_table()

In [66]:
display(Markdown('### greenspace_circle_points_500m_gb_pc'))

### greenspace_circle_points_500m_gb_pc

In [67]:
DS("greenspace_circle_points_500m_gb_pc").variable_table()

In [68]:
display(Markdown('### greenspace_polygon_points_1000m_gb_hh'))

### greenspace_polygon_points_1000m_gb_hh

In [69]:
DS("greenspace_polygon_points_1000m_gb_hh").variable_table()

In [70]:
display(Markdown('### greenspace_polygon_points_1000m_gb_pc'))

### greenspace_polygon_points_1000m_gb_pc

In [71]:
DS("greenspace_polygon_points_1000m_gb_pc").variable_table()

In [72]:
display(Markdown('### greenspace_polygon_points_2000m_gb_hh'))

### greenspace_polygon_points_2000m_gb_hh

In [73]:
DS("greenspace_polygon_points_2000m_gb_hh").variable_table()

In [74]:
display(Markdown('### greenspace_polygon_points_2000m_gb_pc'))

### greenspace_polygon_points_2000m_gb_pc

In [75]:
DS("greenspace_polygon_points_2000m_gb_pc").variable_table()

In [76]:
display(Markdown('### greenspace_polygon_points_300m_gb_hh'))

### greenspace_polygon_points_300m_gb_hh

In [77]:
DS("greenspace_polygon_points_300m_gb_hh").variable_table()

In [78]:
display(Markdown('### greenspace_polygon_points_300m_gb_pc'))

### greenspace_polygon_points_300m_gb_pc

In [79]:
DS("greenspace_polygon_points_300m_gb_pc").variable_table()

In [80]:
display(Markdown('### greenspace_polygon_points_500m_gb_hh'))

### greenspace_polygon_points_500m_gb_hh

In [81]:
DS("greenspace_polygon_points_500m_gb_hh").variable_table()

In [82]:
display(Markdown('### greenspace_polygon_points_500m_gb_pc'))

### greenspace_polygon_points_500m_gb_pc

In [83]:
DS("greenspace_polygon_points_500m_gb_pc").variable_table()

## 3. Metrics

In [84]:
display(Markdown('TBC'))

TBC

## 4. Version History

In [85]:
display(Markdown('TBC'))

TBC

## 5. Documentation

In [86]:
DS("townsend_england_wales").documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 5. Useful Syntax

In [87]:
DS("townsend_england_wales").useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to the [UK LLC GitHub](https://github.com/UKLLC) repository where you can find the full scripts.