# UKHLS Datasets

In [ ]:
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSSource as SS
API_KEY = os.environ['FASTAPI_KEY']
ss = SS("UKHLS")

## 1. Datasets

In [2]:
ss.table_caption_ds()

**Table 1:** Datasets and metrics in the UK LLC belonging to ALSPAC.

In [3]:
# Table | Table Name | # Participants | # Variables | # Observations
ss.datasets()