# Teds 21 Year Twin Phase 2 Questionnaire (TEDS)

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("TEDS", "TEDS_21yr_twin_phase2_qnr")
last_modified()

>Last modified: 28 Jul 2025

## 1. Summary

In [2]:
ds.summary()

Contactable participating twins in TEDS were asked to complete this questionnaire, either online or on paper. The questionnaire length was around 45 minutes on average. The questions covered a wide range of themes including mental health traits, emerging adulthood, physical health and substance use.

In [3]:
ds.info_table()

## 2. Version History

In [4]:
ds.version_history()

## 3. Documentation

In [5]:
ds.documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 4. Useful Syntax

In [6]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.