# Index of Multiple Deprivation (IMD)

In [14]:
from IPython.display import display, Markdown
import sys
import os
sys.path.append(os.path.abspath('../../../scripts/'))
from data_doc_helper import PlaceDataSet as DS, last_modified
last_modified()

>Last modified: 12 Sep 2025

In [15]:
display(Markdown('<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides a dataset containing UK-wide harmonised measures of indices of multiple deprivation, an urban-rural indicator and population density.</strong></div>'))

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides a dataset containing UK-wide harmonised measures of indices of multiple deprivation, an urban-rural indicator and population density.</strong></div>

In [16]:
display(Markdown('<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_IMD.html" target="_blank">here.</a></strong></div>'))

<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_IMD.html" target="_blank">here.</a></strong></div>

## IMD, urban/rural classification and population estimates

This dataset is made up of the following three sources of data: Index of Multiple Deprivation, an Urban-Rural Indicator and Population Estimates.

The Index of Deprivation datasets differ across the four UK nations, but each provide small area measures of relative deprivation. Each national index ranks areas from most deprived to least deprived, based on measures of deprivation such as income, education, health and employment.

Urban-Rural classifications also differ across the four nations but overall provide an indicator of which areas rural and which are urban based on characteristics such as dwelling densities and distance to major towns and cities.

The National Records of Scotland (NRS), Northern Ireland Statistics and Research Agency (NISRA) and the Office of National Statistics (ONS) produce national mid-year population estimates. 

This dataset also includes harmonised variables for the [Indices of Multiple Deprivation](https://data.geods.ac.uk/dataset/index-of-multiple-deprivation-imd) and [Urban-Rural classification](https://pages.mysociety.org/uk_ruc/analysis/background_and_analysis.html) across the UK.


## 1. Summary

In [17]:
display(Markdown('### imd_england'))

### imd_england

In [18]:
DS("imd_england").info_table()

In [19]:
display(Markdown('### imd_northern_ireland'))

### imd_northern_ireland

In [20]:
DS("imd_northern_ireland").info_table()

In [21]:
display(Markdown('### imd_scotland'))

### imd_scotland

In [22]:
DS("imd_scotland").info_table()

In [23]:
display(Markdown('### imd_wales'))

### imd_wales

In [24]:
DS("imd_wales").info_table()

## 2. Variables

In [25]:
display(Markdown('### imd_england'))

### imd_england

In [26]:
DS("imd_england").variable_table()

In [27]:
display(Markdown('### imd_northern_ireland'))

### imd_northern_ireland

In [28]:
DS("imd_northern_ireland").variable_table()

In [29]:
display(Markdown('### imd_scotland'))

### imd_scotland

In [30]:
DS("imd_scotland").variable_table()

In [31]:
display(Markdown('### imd_wales'))

### imd_wales

In [32]:
DS("imd_wales").variable_table()

## 3. Metrics

In [33]:
display(Markdown('TBC'))

TBC

## 4. Version History

In [34]:
display(Markdown('TBC'))

TBC

## 5. Documentation

In [35]:
DS("imd_england").documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 6. Useful Syntax

In [36]:
DS("imd_england").useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to the [UK LLC GitHub](https://github.com/UKLLC) repository where you can find the full scripts.