# face-to-face nurse biomedical sweep 6 (NCDS58)

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("NCDS58", "ncds6_biomedical")
last_modified()

>Last modified: 28 Jul 2025

## 1. Summary

In [2]:
ds.summary()

The data are from the biomedical sweep that took place closely after sweep 6 (2002, age 45). The data are flat (one-row-per-Cohort-Member) on the NCDSID. The data include a nurse interview on Cohort Member's vision, physical measurements, blood pressure,  lung function, general health, diet, activity, and biomarker results of the blood sample.

In [3]:
ds.info_table()

## 2. Version History

In [4]:
ds.version_history()

## 3. Documentation

In [5]:
ds.documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 4. Useful Syntax

In [6]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.