# sweep 9 relationships (NCDS58)

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSDataSet as DS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ds = DS("NCDS58", "ncds9_relationships")
last_modified()

>Last modified: 18 Jul 2025

## 1. Summary

In [2]:
ds.summary()

This is the data on the relationships of the Cohort Members from sweep 9 (2013, age 55) with information about each of the relationship's partner demographics, relationship outcome and dates. The data are long and the IDs are the NCDSID and the N9RELID.

In [3]:
ds.info_table()

## 2. Version History

In [4]:
ds.version_history()

## 3. Documentation

In [5]:
ds.documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 4. Useful Syntax

In [6]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full scripts.