# European Prospective Investigation into Cancer and Nutrition - Norfolk (EPIC-N) Datasets

In [1]:

import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import LPSSource as SS, last_modified
API_KEY = os.environ['FASTAPI_KEY']
ss = SS("EPICN")
last_modified()

>Last modified: 17 Jul 2025

## 1. Datasets

In [2]:
ss.table_caption_ds()

**Table 1:** Datasets and metrics in the UK LLC belonging to EPICN.

In [3]:
ss.datasets()