# HES Outpatients (HESOP) Dataset

In [1]:
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import NHSEDataSet as DS, last_modified
ds = DS("HESOP")
last_modified()

>Last modified: 03 Jul 2025

In [2]:
ds.three_sec_summary()

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>Outpatient appointments at NHS hospitals in England.</strong></div>

## 1. Summary

In [3]:
ds.summary()

Data are collected about all outpatient appointments at NHS hospitals in England. Data collected include demographics, date and type of consultation, treatment specialty, referral source and waiting time, clinical diagnosis and procedures performed.

In [4]:
ds.info_table()

## 2. Metrics

In [5]:
ds.metrics()

Cohort counts for the HESOP dataset will be issued in due course.

## 3. Version History

In [6]:
ds.version_history()

Version Number,1,2,3
Name in TRE,NHSE_HESOP,NHSE_HESOP,NHSE_HESOP
Version Date,21 Dec 2022,13 Apr 2023,26 Apr 2024
Number of Variables,149,149,149
Number of Rows,6418599,8013593,8575150
DOI,10.83126/ukllc-dataset-00038-01,10.83126/ukllc-dataset-00038-02,10.83126/ukllc-dataset-00038-03

## 4. Documentation

In [8]:
ds.documentation()

We are currently building a documentation storage system, which will host relevant and useful documents related to datasets, groupings, and studies themselves. Relevant documentation for this particular dataset will go here.

## 5. Useful Syntax

In [9]:
ds.useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full script