# COVID-19 Hospitalisation in England Surveillance System (CHESS) Dataset

In [2]:
# define target dataset to document
schema = 'nhsd'
table = 'CHESS'
version = 'v0002'
# import functions from script helper
import sys
script_fp = "../../../../scripts/"
sys.path.insert(0, script_fp)
from data_doc_helper import DocHelper
# create instance
document = DocHelper(schema, table, version, script_fp)
# markdown/code hybrid cell module requirement
from IPython.display import display, Markdown

## 1. Summary
This dataset is now called the **Severe Acute Respiratory Infection (SARI-Watch) surveillance system dataset**.

In [3]:
display(document.style_table(document.get_dataset_info()))

## 2. Metrics
The tables below summarise the CHESS dataset in the UK LLC TRE.

**Table 1** The number of participants from each LPS that are represented in the CHESS dataset in the UK LLC TRE  
(**Note**: numbers relate to the most recent extract of NHS England data. Numbers <10 are not included in the total)

In [4]:
display(document.style_table(document.get_cohort_count()))

## 3. Helpful syntax
Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to Git where you can find the full script.