# Air pollution NO2 & PM

In [1]:
from IPython.display import display, Markdown
import sys
import os
sys.path.append(os.path.abspath('../../../../scripts/'))
from data_doc_helper import PlaceDataSet as DS, last_modified
last_modified()

>Last modified: 14 Aug 2025

In [2]:
display(Markdown('<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides annual-average NO₂ and PM₂.₅ exposure data at high spatial resolution which can support health and environmental research.</strong></div>'))

<div style="background-color: rgba(0, 178, 169, 0.3); padding: 5px; border-radius: 5px;"><strong>UK LLC provides annual-average NO₂ and PM₂.₅ exposure data at high spatial resolution which can support health and environmental research.</strong></div>

In [3]:
display(Markdown('<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_air_pollution_pm25_no2.html" target="_blank">here.</a></strong></div>'))

<div style="background-color: rgb(229, 106, 84, 0.3); padding: 5px; border-radius: 5px;"><strong>More information about this dataset is available <a href="Understanding_air_pollution_pm25_no2.html" target="_blank">here.</a></strong></div>

## Annual-average Nitrogen Dioxide (NO2) and Fine particulate matter (PM2.5)

The air pollution datasets modelled by University of Leicester/City St George's, University of London contain continuous annual-average **nitrogen dioxide (NO2)** and **fine particulate matter (PM2.5)** exposure data, covering the **years 2010-2019** for all residential address points where a UK LLC participant has permissions in place.


## 1. Summary

In [4]:
display(Markdown('### air_pollution_no2_pm25_england_wales_hh'))

### air_pollution_no2_pm25_england_wales_hh

In [5]:
DS("air_pollution_no2_pm25_england_wales_hh").info_table()

In [6]:
display(Markdown('### air_pollution_no2_pm25_england_wales_pc'))

### air_pollution_no2_pm25_england_wales_pc

In [7]:
DS("air_pollution_no2_pm25_england_wales_pc").info_table()

In [8]:
display(Markdown('### air_pollution_no2_pm25_scotland_hh'))

### air_pollution_no2_pm25_scotland_hh

In [9]:
DS("air_pollution_no2_pm25_scotland_hh").info_table()

In [10]:
display(Markdown('### air_pollution_no2_pm25_scotland_pc'))

### air_pollution_no2_pm25_scotland_pc

In [11]:
DS("air_pollution_no2_pm25_scotland_pc").info_table()

## 2. Variables

In [12]:
display(Markdown('### air_pollution_no2_pm25_england_wales_hh'))

### air_pollution_no2_pm25_england_wales_hh

In [13]:
DS("air_pollution_no2_pm25_england_wales_hh").variable_table()

In [14]:
display(Markdown('### air_pollution_no2_pm25_england_wales_pc'))

### air_pollution_no2_pm25_england_wales_pc

In [15]:
DS("air_pollution_no2_pm25_england_wales_pc").variable_table()

In [16]:
display(Markdown('### air_pollution_no2_pm25_scotland_hh'))

### air_pollution_no2_pm25_scotland_hh

In [17]:
DS("air_pollution_no2_pm25_scotland_hh").variable_table()

In [18]:
display(Markdown('### air_pollution_no2_pm25_scotland_pc'))

### air_pollution_no2_pm25_scotland_pc

In [19]:
DS("air_pollution_no2_pm25_scotland_pc").variable_table()

## 3. Metrics

In [20]:
display(Markdown('TBC'))

TBC

## 4. Version History

In [21]:
display(Markdown('TBC'))

TBC

## 5. Documentation

In [22]:
DS("air_pollution_no2_pm25_england_wales_hh").documentation()

We are currently building a documentation storage system which will host useful documents related to datasets and data owners. We will surface these documents on Guidebook.

## 5. Useful Syntax

In [23]:
DS("air_pollution_no2_pm25_england_wales_hh").useful_syntax()

Below we will include syntax that may be helpful to other researchers in the UK LLC TRE. For longer scripts, we will include a snippet of the code plus a link to the [UK LLC GitHub](https://github.com/UKLLC) repository where you can find the full scripts.